html {
    font-size: 16px;
}

body {
    background: #FFF8F0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 24px;
    color: #55206D;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "League Spartan", sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    color: #190D37;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: 30px;
}

h2 {
    font-family: "League Spartan", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    color: #000000;
    text-align: center;
    padding-left: 370px;
    padding-right: 370px;
}

#what-i-do-p1 {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: #190D37;
    max-width: 700px;
    text-align: center;
    height: 81px;
    margin-bottom: 80px;
    margin-top: 8px;
    font-size: 18px;
}

#what-i-do-p {
    font-family: "Poppins", sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 32px;
    color: #331E6A;
    margin-right: 40px;
}

#hero-section {
    display: flex;
    height: 600px;
}

#hero-text {
    width: 720px;
    float: right;
    margin-left: 190px;
}

#hero-image-wrapper {
    background-image: url(hero_image.png);
    width: 720px;
    object-fit: cover;

}

.highlight {
    font-weight: bold;
    font-size: 16px;
    color: #291854;
}

.highlight2 {
    font-weight: normal;
}

#smalltext {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: #000000;
    margin-top: 32px;
    margin-right: 20px;
}

#hi-and-name {
    margin-top: 52px;
    margin-bottom: 10px;
    color: #291854;
}

#contact-button {
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    height: 44px;
    width: 138px;
    border-radius: 4px;
    background: #2F2F2F;
    margin-top: 32px;
}

#middle-section1 {
    margin-bottom: 40px;
    margin-top: 98px;
}

#what-i-do-p2 {
    max-width: 686px;
    text-align: center;
    justify-content: center;
    height: 81px;
    margin: 0 auto;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #190D37;
}

#what-i-do-section {
    text-align: center;
    max-width: 1060px;
    margin: 0 auto;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #2858FF;
}

#middle-part {
    margin-top: 98px;
    margin-bottom: 60px;
}

#project-boxes {
    display: flex;
    text-align: center;
    max-width: 1060px;
    height: 291px;
    margin-right: 190px;
    margin-left: 190px;
    margin-top: 68px;
}

.project-box {
    width: 33.33%;
    background-color: #FFFFFF;
    margin: 0 10px;
    border-radius: 10px;
    box-shadow: 6px 2px 25px -9px #0000001A;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

#project-head {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 8px;
    margin-top: 8px;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 8px;
}

#inner-project {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #55206D;
    width: 300px;
    height: 216px;
}

#project-detail {
    width: 1060px;
    display: flex;
    text-align: left;
    margin-left: 190px;
    margin-top: 48px;
}

#project-text-section {
    margin-left: 20px;
}

#project-name {
    width: 125px;
    height: 27px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #291854;
}

#project-text {
    width: 880px;
    height: 96px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #55206D;
    margin-top: 8px;
    margin-bottom: 8px;
}

#project-link {
    width: 100px;
    height: 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #6A87A3;
}

#project-box-small {
    width: 160px;
    height: 160px;
    left: 190px;
    top: 1571px;
    background: #19ACFF;
    border-radius: 10px;
}

#project-box-small-1 {
    width: 160px;
    height: 160px;
    left: 190px;
    top: 1571px;
    background: #FFE819;
    border-radius: 10px;
}

#project-box-small-2 {
    width: 160px;
    height: 160px;
    left: 190px;
    top: 1571px;
    background: #FF1919;
    border-radius: 10px;
}

#project-box-small-text {
    width: 67px;
    height: 72px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: #FFFFFF;
    margin: 44px 46px 45px 44px;
}

#project-box-small-text-1 {
    width: 67px;
    height: 72px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: #000000;
    margin: 44px 46px 45px 44px;
}

#my-projects-section {
    margin-top: 118px;
}

#project-detail-cover {
    margin-bottom: 127px;
}

.overtitile {
    font-family: "poppins", sans-serif;
}

#footer-section {
    position: absolute;
    width: 100%;
    height: 58px;
    background: #000000;
}

#footer-text {
    width: 235px;
    height: 18px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    margin-left: 602px;
    margin-right: 603px;
    margin-top: 20px;
}